{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<h1 class="text-center">Login</h1>


<div class= "d-flex align-items-center justify-content-center vh-100 login">


    <form method="POST" action="">

        {% csrf_token %}

        <div class="mb-3 center">
            <label for="exampleInputUsername1" class="form-label">Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 center">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button> <br> <br>

        Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>
    </form>

    {% comment %} <form >
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form> {% endcomment %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    {% comment %} Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a> {% endcomment %}

</div>

{% endblock content %}