{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-light">
<div class="container-fluid ">
    <span class="navbar-brand">Nama: {{nama}}</span>
    <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
</div>
</nav>

<h1>Daftar Wishlist</h1>

<table class="table table-hover table-striped">
    <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
    <br>
    
{% endfor %}
</table> <br> <br>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}